.chat
{
  list-style: none;
  margin: 0;
  padding: 0;
}
pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
}
.chat li
{
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
  margin: 0 60px;
}

.chat li.right .chat-body
{
  margin: 0 60px;
}


.chat li .chat-body p
{
  margin: 0;
  color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
  margin-right: 5px;
}

.panel-body
{
  overflow-y: auto;
  height: 700px;
}

.chat-content-out {
  text-align: right;
  margin-top: 15px !important;
}

.chat-content-in {
    margin-top: 30px !important;
    color: green;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
